// Inspiration for colors: https://github.com/gbale/vscode-theme-darkplusplus/tree/master/vscode

// $gray-800: #343a40;
// $dark: $gray-800;
$body-bg: #282b35; // Dark grey: #1E1E1E; Dark blue: #282b35
$white: #fff;
$body-color: rgba(255,255,255,0.9);
$primary: #51a3ff;
$secondary: #e93c76;
$transitionDuration: 0.5s;
$navbarHeight: 50px;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


html {
  font-size: 18px;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: $body-bg;
  color: $body-color;
  transition-duration: $transitionDuration;
  transition-property: background-color, color;
  padding: $navbarHeight 0;
  // font-family: "Menlo", Arial, "Monaco", "Courier New", monospace;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}


h1 {
  text-align: center;
}

h1, h2 {
  color: #51a3ff;
  margin: 90px 0 30px 0;
}

h3 {
  color: #e93c76; 
  margin: 80px 0 25px 0;
}
h2 + h3 {
  margin-top: 0;
}

em {
  color: #e93c76;
  font-style: normal;
}


.navbar {
  background-color: lighten(#282b35, 5%) !important;
  padding: 0;
  
  .toggle-container {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    height: 100%;
    height: $navbarHeight;
  }

  .navbar-brand {
    background-color: lighten(#282b35, 8%) !important;
    margin: 0;
    padding: 0px 20px;
    height: $navbarHeight;
    display: flex;
    align-items: center;


    .navbar-logo {
      height: 27px;
      position: relative;
      top: -2px;
    }
  }
  .navbar-nav {
    width: 100%;
  }
  .nav-link {
    background-color: lighten(#282b35, 8%) !important;
    border-left: 1px solid $body-bg;
    padding: 5px 15px!important;
    box-sizing: border-box;
    height: $navbarHeight;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1em;
  }

  .navbar-brand.active, .nav-link.active {
    background-color: $body-bg!important;
  }
}

.box {
  border: 3px solid white;
  border-radius: 3px;
  padding: 20px;
  transition: $transitionDuration;
  transition-property: border;
}

.box-price {
  text-align: center;
  max-width: 650px;
  margin: 10px auto;

  .box-price__list {
    list-style: none;
    padding: 0;
  }

  .box-price__list-item {
    margin: 30px 0;
  }

  h3 {
    margin: 0 0 20px 0;
  }

  p:last-child {
    // margin: 0;
  }
}

.ThemeToggle {
  .react-toggle-track {
    background-color: darken(#282b35, 10%) !important;
  }
  .react-toggle-thumb {
    border-width: 0;
  }
  .react-toggle-track-check, .react-toggle-track-x {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .ThemeToggle__icon {
    height: 14px;
  }

}

// .ThemeToggle.react-toggle--checked .react-toggle-track {
//   background-color: #ab199f;
// }





.program-list {
  .program-list__item {
    margin-bottom: 15px;
  }
}

.coach-card {
  text-align: center;
  max-width: 400px;
  margin: 30px auto;
  padding: 30px;

  .coach-card__title {
    margin: 0;
  }
  .coach-card__img {
    height: 200px;
    width: 200px;
    margin: 20px;
    object-fit: cover;
    border-radius: 200px;
  }
  .coach-card__link {
    color: inherit;
    font-size: 2em;
    margin: 10px;
  }
}

.ThugPicure {
  cursor: pointer;
}



//  For the ".light-theme"
body.light-theme {
  background-color: white;
  color: $body-bg;
}
.light-theme {
  .box {
    border: 3px solid $body-bg;  
  }
  .btn-outline-light {
    border-color: $body-bg;
    color: $body-bg;
  }
  .btn-outline-light:hover {
    background-color: $body-bg;
    color: $body-color;
  }
}