// Inspiration for colors: https://github.com/gbale/vscode-theme-darkplusplus/tree/master/vscode

// $gray-800: #343a40;
// $dark: $gray-800;
$body-bg: #1E1E1E;
$white: #fff;
$body-color: $white;

@import '~bootstrap/scss/bootstrap';

body {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: rgba(255,255,255,0.05)!important;
  padding: 0;
  // font-weight: 600;
  // border-bottom: 1px solid grey;

  .navbar-brand {
    background-color: rgba(255,255,255,0.05)!important;
    margin: 0;
    padding: 5px 20px;
  }
  .nav-link {
    background-color: rgba(255,255,255,0.05)!important;
    border-left: 1px solid $body-bg;
    padding: 8px 15px!important;
  }

  .navbar-brand.active, .nav-link.active {
    background-color: $body-bg!important;
  }
}